.menu-container { width: 100%; max-width: 500px; padding: 20px; box-sizing: border-box; }

/* Marcador Online/Offline */
.status-bar {
    text-align: center;
    padding: 8px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    transition: 0.3s;
}
.online { background: #c8e6c9; color: #2e7d32; border: 1px solid #2e7d32; }
.offline { background: #ffccbc; color: #d32f2f; border: 1px solid #d32f2f; }